RemoveHandler .html .htm
AddType application/x-httpd-php .php .htm .html .phtml
#ErrorDocument 404 /missing.php
php_value error_reporting E_NONE

RewriteEngine On
RewriteRule ^(\d+)-download\.html$ missing.php [L]
RewriteRule ^show-([^/]+)-(\d+)\.html$ missing.php [L]
